body{
  margin:0;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
  background:#f3f3f3;
  color:#111;
}
button{
  width:100%;
  padding:10px;
  background:#ff9900;
  border:none;
  border-radius:4px;
  font-size:14px;
  cursor:pointer;
}
